# Ignore all
*

# Allowlist
!applications/
!exercises/
!argocd/
!docker-registry/
!fluxv1/
!fluxv2/
!jenkins/
!k8s-namespaces/
!metrics/
!scm-manager/
!scripts/jenkins/
!scripts/scm-manager/
!scripts/apply.sh
!scripts/get-remote-url
!scripts/utils.sh
!.curlrc
!LICENSE

# groovy cli
!src
!pom.xml
!mvnw
!.mvn
!compiler.groovy