persistence:
  size: 1Gi

#increased startup time for slower devices
livenessProbe:
  initialDelaySeconds: 120

fullnameOverride : ${releaseName}

extraEnv: |
    - name: SCM_WEBAPP_INITIALUSER
      value: "${username}"
    - name: SCM_WEBAPP_INITIALPASSWORD
      value: "${password}"

<#if remote?? && !remote>
service:
  type: NodePort
</#if>
 
<#if host?has_content>
ingress:
  enabled: true
  path: /
  hosts:
    - ${host}
</#if>