<#if config.features.ingress.helm.image?has_content>  
<#assign imageObject = DockerImageParser.parse(config.features.ingress.helm.image)>
image:
  repository: ${imageObject.registryAndRepositoryAsString}
  tag: ${imageObject.tag}
  # Changing the image will change digest, so don't use the default.
  # A digest can also be appended to the tag
  digest: null
</#if>

deployment:
  kind: Deployment
  <#assign DockerImageParser=statics['com.cloudogu.gitops.utils.DockerImageParser']>
    <#if config.registry.createImagePullSecrets == true>
  imagePullSecrets:
    - name: proxy-registry
  </#if>

  podAnnotations:
    ingressclass.kubernetes.io/is-default-class: "true"
  podLbels:
    traefik.http.middlewares.gzip.compress: "true"

  admissionWebhooks:
    enabled: false

    <#if config.application.netpols == true>
  networkPolicy:
    enabled: true
    </#if>
  service:
    # Preserve client ip address
    # https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip
    externalTrafficPolicy: Local
  replicaCount: 2
  resources:
    # Be generous to our Single Point of failure
    limits:
      cpu: '1'
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 90Mi

  # Traefik uses "Logs" and "AccessLogs" for the log format configurations
  logs:
    general:
      level: INFO
    access:
      enabled: true
      #log-format-upstream: '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$host" $request_length $request_time [$proxy_upstream_name] [$proxy_alternative_upstream_name] $upstream_addr $upstream_response_length $upstream_response_time $upstream_status $req_id'

  global:
    checknewversion: false
    sendAnonymousUsage: false

<#if config.features.monitoring.active == true>
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      namespace: ${config.application.namePrefix}monitoring
</#if>